.card {
  width: 40vw;
  height: 40vw;
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  border-radius: 5px;
  background-image: linear-gradient( 135deg, #52E5E7 0%, #130CB7 100%);
}

.card > h2 {
  color: #ffffff;
  text-align: center;
}

.card > img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}